@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf');
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #ff6b28;
}

h1{
  padding-top:1em;
  font-weight: bold;
  font-size:3em;
  margin-bottom:2em;
}

h2 {
  text-transform:capitalize;
  font-size:2em;
}

#topbar {
  height:2em;
  padding:1em;
  background-color: #ff6b28;
  text-align: center;
}

#logo {
  height:100%;
}

#hero {
  height:25em;
  background-image: url('./images/hero_bolo.jpg');
  background-size: cover;
  background-position: center;
}

#recipe {
  width: 60%;
  margin:auto;
}

/*Isso daqui poderia ter virado uma classe...*/
#ingredients, 
#prep,
#additional-instructions {
  width:85%;
  margin:auto;
  padding:3em;
  border-width: 1px;
}

/*Isso daqui poderia ter sido o hover de uma classe...*/
#ingredients:hover,
#prep:hover,
#additional-instructions:hover {
  box-shadow: 10px 10px 10px #ccc;
  border-radius: 10px;
  border-style:solid;
  border-color:rgb(241, 238, 238);
}

#ingredients:hover{
  cursor: url('./images/cursor_ingredientes.png'), cell;
}

#prep:hover{
  cursor: url('./images/cursor_preparo.png'), cell;
}

#additional-instructions:hover{
  cursor: url('./images/cursor_intrucoes.png'), cell;
}


#ingredients>ul>li,
#prep>ol>li{
  color:black;
  font-size:1.3em;
  line-height: 2em;
}

#buy-button {
  margin-top: 3em;
  width: 30%;
}

#buy-button>a{
  text-decoration: none;
  background-color:#ff6b28;
  color:white;
  font-size:1.5em;
  padding:0.5em;
  border-radius: 0.7em;
}

#prep,
#additional-instructions {
  margin-top:8em;
}

#additional-instructions>p {
  color:black;
  font-size:1.5em;
}

#footer {
  padding:2em;
  margin-top:8em;
  background-color: #ff6b28;
  color: white;
  text-align: center;
  font-size:1.5em;
}

#footer-text {
  width:40%;
  margin: auto;
}

#footer-text>a{
  text-decoration: none;
  color: white;
}

#footer-text>a:hover{
  color: black;
}